/*------- ANIMACAO DOS BOTOES----------------*/  
a.sc-button:hover {
	color: #333;
	text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position .3s linear;
  -moz-transition: background-position .3s linear;
  -o-transition: background-position .3s linear;
  transition: background-position .3s linear
}
  
/*------- ESTILO DOS BOTOES----------------*/
#botoes {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  user-select: none;
  
 }  
  
#stylebotao {
  background-color: #00c8ff;
  background-image: linear-gradient(rgb(4, 131, 194), rgb(0, 26, 56));
  background-repeat: repeat-x;
  border-radius: 8px 8px 0px 0px; 
  border: 2px solid #00c8ff;
  border-bottom: 0px;
  box-sizing: inherit; 
  display: inline-block;  
  height: 50px; 
  line-height: 5em;
  margin: 5px 10px 0px 0px; 
  min-height: 5em; 
  padding: 0em 0px 0px;
  text-align: center;
  text-decoration-line: none;
  vertical-align: baseline;
  width: 160px;
  
  
       }
  #stylelogo {
    border: 0px; 
    box-sizing: inherit;
    filter: drop-shadow(2px 2px 2px black);
    vertical-align: middle; 
    max-height: 80%;
    max-width: 140px;
    pointer-events: none;
    }
  
#stylebgfont {
  background: rgb(0, 0, 0); 
  border-radius: 0px 0px 8px 8px; 
  border: 2px solid #00c8ff;
  border-top: 1px solid #00c8ff;
  line-height: 1.0;
  margin: 0px 0px 0px 0px; 
  padding: 0px; 
  text-align: center;
  width: 160px;
  height: 35px;  
  display: table-cell;
  vertical-align: middle;
  }
  
  #stylefont{
    background-color: transparent; 
    border: 0px;
    box-sizing: inherit;
    color: white;
    display: inline-block;
    font-size: 13px; 
    font-family: "arial";
    font-style: inherit;     
    line-height: 0.9;
    margin: 0px;    
    padding: 5px;  
    pointer-events: none;
    text-transform: uppercase;
    text-align: center;
   
  
    }
  a {

	text-decoration: none

}
