html, body {
    margin: 0;
    overflow: auto;
    position: relative;
    font-family: PlutoTV Sans, Verdana, sans-serif;
    
}


#category {
  color: #FFFFFF;
  width: 100%;
  display: inline-flex;
  padding-left: 20px;
  flex-direction: row;
}
#category > h3 {
  display: inline-flex;
  font-size: 18px;
  align-items: center;
  font-weight: 600;
}
#category > h3 > i {
  margin-right: 10px;
}
#category > h3 > i svg {
  filter: brightness(0) saturate(100%) invert(1);
}
#icon {
  color: #000000;
  width: 22px;
  filter: invert(1);
  height: 22px;
}

#divider {
  height: 5px;
  flex-grow: 1;
  align-self: center;
  background: blue;
  margin-left: 16px;
}
