a.sc-button:hover {
	color: #333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position .3s linear;
	-moz-transition: background-position .3s linear;
	-o-transition: background-position .3s linear;
	transition: background-position .3s linear
}

 #botoestilo {
    background-color: #00c8ff; 
    background-image: linear-gradient(rgb(4, 131, 194), rgb(0, 26, 56)); 
    background-repeat: repeat-x;    
    border-radius: 5px; 
    border: 2px solid rgb(2, 16, 33); 
    color: white; display: inline-block; 
    cursor: pointer;
    font-family: "varela round", sans-serif; 
    font-size: 12px; 
    font-weight: 700; 
    margin: 4px; 
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 8px 10px; 
    text-align: center; 
    text-decoration-line: none;
    text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
    vertical-align: middle;
    text-transform: uppercase; 
    word-wrap: break-word;
    width: 150px; /* Largura fixa dos botões */
        }
    a {
	text-decoration: none
}
