/*------- ANIMACAO CARD DOS BOTOES----------------*/  
 .card {
    max-width: 95px;
    height: 90px; 
    width: auto;
    background-color: #00c8ff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.0);
    display: table-cell;
    flex-direction: column;
    transition: box-shadow 0.4s ease, transform 0.3s ease;
    margin: 8px;
  }

.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 200, 255, 1.2);
    transform: scale(1.06);
  }

  .card a {
    color: inherit;
    text-decoration: none;
  }

    
/*------- ANIMACAO DENTRO DOS BOTOES----------------*/  
a.sc-button:hover {
	color: #333;
	text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position .3s linear;
  -moz-transition: background-position .3s linear;
  -o-transition: background-position .3s linear;
  transition: background-position .3s linear
}
  
/*------- ESTILO DOS BOTOES----------------*/
#botoes {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  user-select: none;
  
 }  
  
#stylebotao {
  background-color: #00c8ff;
  background-image: linear-gradient(rgb(4, 131, 194), rgb(0, 26, 56));
  background-repeat: repeat-x;
  border-radius: 8px 8px 0px 0px; 
  border: 1px solid #00c8ff;
  border-bottom: 0px;
  box-sizing: inherit; 
  display: inline-block;  
  height: 50px; 
  line-height: 4em;
  min-height: 4em; 
  margin: 0px 5px 0px 0px; 
  padding: 0em 0px 0px;
  text-align: center;
  text-decoration-line: none;
  vertical-align: baseline;
  width: 95px;
  
  
       }
  #stylelogo {
    border: 0px; 
    box-sizing: inherit;
    filter: drop-shadow(2px 2px 2px black);
    vertical-align: middle; 
    max-height: 80%;
    max-width: 80px;
    pointer-events: none;
    }
  
#stylebgfont {
  background: rgb(0, 0, 0); 
  border-radius: 0px 0px 8px 8px; 
  border: 1px solid #00c8ff;
  border-top: 1px solid #00c8ff;
  line-height: 1.0;
  margin: 0px;  
  padding: 0px; 
  text-align: center;
  width: 95px;
  height: 25px;  
  display: table-cell;
  vertical-align: middle;
  
  }
  
  #stylefont{
    background-color: transparent; 
    border: 0px;
    box-sizing: inherit;
    color: white;
    display: inline-block;
    font-size: 9px; 
    font-family: "arial";
    font-style: inherit;     
    line-height: 0.9;
    margin: 0px;    
    padding: 2px;  
    pointer-events: none;
    text-transform: uppercase;
    text-align: center;
   
  
    }
  a {

	text-decoration: none

}
